@page "/game/{Id:guid}"
@using Blazor20Questions.Shared
@inherits PlayerComponent

<h1>20 Questions Game</h1>

@if (_error)
{
    <div class="error">
        Error loading game: @_errorMessage
    </div>
}
else if (_game != null)
{
    <Rules game="@_game" />

    if (_game.Complete)
    {
        if (_game.Won)
        {
            <div class="success">You Won! The correct answer was: @_game.Subject!</div>
        }
        else
        {
            <div class="fail">You Lost. The correct answer was: @_game.Subject</div>
        }
    }
    else
    {
        <div class="game">
            <h2>Asked Questions</h2>
            @if (!_game.Questions.Any())
            {
                <div>No questions asked yet</div>
            }
            else
            {
                <div class="questions">
                    @foreach (var question in _game.Questions)
                    {
                        <div class="question">
                            <span class="question-text">@question.Question</span>
                            <span class="question-answer">@(question.HasAnswer ? (question.Answer.Value) ? "Yes" : "No" : "(unanswered)")</span>
                        </div>
                    }
                </div>
            }

            <div class="remaining">Remaining Questions: @_game.QuestionsRemaining</div>

            @if (_game.QuestionsRemaining > 0)
            {
                <h2>Ask a Question...</h2>
                @if (!_game.AllowConcurrentQuestions && !_game.Questions.LastOrDefault()?.HasAnswer == true)
                {
                    <div class="waiting">Waiting for previous question to be answered</div>
                }
                else if (_game.GuessesCountAsQuestions && _game.QuestionsRemaining == 1)
                {
                    <div class="last-chance">No more questions remaining. Time to make a guess!</div>
                }
                else
                {
                    <form onsubmit="@AskQuestion">
                        <div class="simple-form">
                            <div class="form-group guess">
                                <label>Type a yes/no question below</label>
                                <input type="text" bind="@Question" class="form-control" id="first-name" placeholder="Is it a...?" />
                                <input type="submit" class="btn btn-primary" value="Ask" />
                            </div>
                        </div>
                    </form>
                }
            }

            @if (!_game.GuessesCountAsQuestions || _game.QuestionsRemaining > 0)
            {
                <h2>Make a Guess</h2>
                @if (_game.GuessesCountAsQuestions)
                {
                    <span>Each guess counts as a question, so be sure not to waste an oppertunity!</span>
                }
                else
                {
                    <span>Guesses are free, and do not count as questions. Guess away!</span>
                }
                <form onsubmit="@MakeGuess">
                    <div class="simple-form">
                        <div class="form-group guess">
                            <label>Guess the Subject</label>
                            <input type="text" bind="@Guess" class="form-control" id="first-name" placeholder="house" />
                            <input type="submit" class="btn btn-primary" value="Guess" />
                        </div>
                    </div>
                </form>
            }

            <h2>Previous Guesses</h2>
            @if (_game.Guesses.Any())
            {
                <div class="guesses">
                    @foreach (var guess in _game.Guesses)
                    {
                        <div class="guess">@guess</div>
                    }
                </div>
            }
            else
            {
                <div class="guess">(No guesses - yet!)</div>
            }
        </div>
    }
}
else
{
    <div>Loading...</div>
}

@functions {

    private string Question { get; set; }
    private string Guess { get; set; }

    private async Task AskQuestion()
    {
        try
        {
            _game = await Http.PostJsonAsync<GameResponse>(
                $"api/Game/{Id}/ask",
                new AskQuestionModel
                {
                    Question = Question
                });
            Question = "";
        }
        catch (Exception e)
        {
            _error = true;
            _errorMessage = e.Message;
        }
    }

    private async Task MakeGuess()
    {
        try
        {
            _game = await Http.PostJsonAsync<GameResponse>(
                $"api/Game/{Id}/guess",
                new GuessModel
                {
                    Guess = Guess
                });
            Guess = "";
        }
        catch (Exception e)
        {
            _error = true;
            _errorMessage = e.Message;
        }
    }
}
