@page "/host/{Id:guid}"
@using System.Net.Http
@using Blazor20Questions.Shared
@using Blazor.Extensions
@using Newtonsoft.Json
@inject HttpClient Http
@inject IUriHelper UriHelper
@inject IJSRuntime JsRuntime;

<h1>20 Questions - Host Controls</h1>

<div class="link">
    <div>Send this link to your friends to join in the fun!</div>
    <input type="text" readonly value="@UriHelper.GetBaseUri()game/@Id" onclick="this.select()" size="80" />
</div>
@if (_error)
{
    <div class="error">
        Error loading game: @_errorMessage
    </div>
}
else if (_game != null)
{
    <Rules game="@_game" />

    if (_game.Complete)
    {
        if (_game.Won)
        {
            <div class="success">The guesser(s) guessed correctly!</div>
        }
        else
        {
            <div class="fail">The guesser(s) did not guess "@_game.Subject" in time</div>
        }
    }
    else
    {
        <div class="host game">
            <span>Remaining Questions: @_game.QuestionsRemaining</span>

            <h2>Questions</h2>
            @if (!_game.Questions.Any())
            {
                <div>No questions asked yet!</div>
            }
            else
            {
                <div class="questions">
                    @foreach (var question in _game.Questions)
                    {
                        <div class="question">
                            <span class="question-text">@question.Question</span>
                            @if (question.HasAnswer)
                            {
                                <span class="question-answer">@((question.Answer.Value) ? "Yes" : "No")</span>
                            }
                            else
                            {
                                <span class="question-no"><button onclick="@(() => Answer(question, true))">NO</button></span>
                                <span class="question-no"><button onclick="@(() => Answer(question, true))">YES</button></span>
                            }

                        </div>
                    }
                </div>
            }
            <span>Remaining Questions: @_game.QuestionsRemaining</span>
        </div>
    }
}
else
{
    <div>Loading...</div>
}

@functions {

    private const int RefreshDelay = 1000;

    [Parameter]
    public Guid Id { get; set; }

    private string Question { get; set; }
    private string Guess { get; set; }

    private GameResponse _game;
    private bool _error;
    private string _errorMessage;
    private HubConnection _connection;

    protected override async Task OnInitAsync()
    {
        try
        {
            _error = false;
            _game = await Http.GetJsonAsync<GameResponse>($"api/Game/{Id}");

            await SetupRefresh();
        }
        catch (Exception e)
        {
            _error = true;
            _errorMessage = e.Message;
        }
    }

    private async Task SetupRefresh()
    {
        _connection = new HubConnectionBuilder(JsRuntime).WithUrl("/hubs/game").Build();
        _connection.On<string>("UpdateGame", UpdateGame);
        await _connection.StartAsync();
        await _connection.InvokeAsync("Register", Id);
    }

    private Task UpdateGame(string game)
    {
        _game = JsonConvert.DeserializeObject<GameResponse>(game);
        StateHasChanged();
        Console.WriteLine("Updated game");
        return Task.CompletedTask;
    }

    private async Task Answer(QuestionResponse question, bool answer)
    {
        try
        {
            var questionIndex = _game.Questions.IndexOf(question);
            _game = await Http.PostJsonAsync<GameResponse>(
                $"api/Game/{Id}/answer/{questionIndex}",
                new AnswerModel
                {
                    Answer = answer
                });
        }
        catch (Exception e)
        {
            _error = true;
            _errorMessage = e.Message;
        }
    }


}
